[Desktop Entry]
Version=1.0
Type=Application
Name=Facebook
GenericName=Social Media Client
Comment=Otwórz Facebook 
Exec=uwsm app -- chromium --app=https://facebook.com
Terminal=false
Categories=Network;WebBrowser;X-Social;
StartupWMClass=facebook.com
StartupNotify=true
