@import url("./colors.css");

* {
    transition: 2s all ease-in-out;
    font-family: "Cousine Nerd Font mono";
    font-size: 16px;
    padding: 2px;
    margin: 1px 4px 1px 4px;
    color: @font-color;
    text-shadow: 1 1 5px gray, 1 1 7px gray, 1 1 10px gray;
    border-radius: 25px;
}

*:hover {
    text-shadow: 1 1 10px black, 1 1 10px black, 1 1 10px black;
}

window {
    background-color: black;
    margin: 1px;
}

window#waybar {
    background: @background;
    border-radius: 20px;
}

/* modules */

#workspaces button {
    background-color: @background;
    margin-left: 5px;
    text-shadow: 1 1 5px gray, 1 1 7px gray, 1 1 10px gray;
}

#workspaces button:hover {
    background-color: @foreground;
    margin-left: 5px;
    text-shadow: 1 1 5px gray, 1 1 7px gray, 1 1 10px gray;
}

#workspaces button.urgent {
    background-color: red;
    animation: blink;
    animation-duration: 5s;
}

#clock {
    margin: 10px;
}

tooltip {
    background-color: black;
}

menu {
    background-color: black;
    border-radius: 15px;
}

#media,
#network,
#pulseaudio,
#battery {
    border-radius: 25px;
    margin: 5px;
}

#tray {
    background-color: @background;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#tray:hover {
    background-color: @foreground;
}

/* battery */

#battery.warning:not(.charging) {
    background: orange;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ff0000;
        color: #000000;
    }
}

#custom-spotify {
    background-color: rgba(29, 185, 84, 0.30);
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#custom-spotify:hover {
    background-color: rgba(29, 185, 84, 1);
}

#custom-notifications {
    border-radius: 5px;
    padding: 5px;
    margin: 5;
}

#custom-hardware {
    border-radius: 15px;
    margin: 4px;
}
